
/*Advanced - Lubricant css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: verdana;
	vertical-align: baseline;
	text-decoration: none;
}

#wrapper {
	width: 1200px;
	margin-left: 20px;
}

#header img, h1	{
	display: inline-block;
}

#header h1 {
	margin-left: 350px;
	vertical-align: top;
	font-size: 1.5em;
	margin-top: 25px;

}

#nav {
	margin: 0 0 20px -50px;
	padding-left: 45px;
	background: -moz-linear-gradient(top, #f4f7f8 0%, #e2e8ec 44%, #d6dde2 45%, #eef1f4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f7f8), color-stop(44%,#e2e8ec), color-stop(45%,#d6dde2), color-stop(100%,#eef1f4));
	background: -webkit-linear-gradient(top, #f4f7f8 0%,#e2e8ec 44%,#d6dde2 45%,#eef1f4 100%);
	background: -o-linear-gradient(top, #f4f7f8 0%,#e2e8ec 44%,#d6dde2 45%,#eef1f4 100%);
	background: -ms-linear-gradient(top, #f4f7f8 0%,#e2e8ec 44%,#d6dde2 45%,#eef1f4 100%);
	background: linear-gradient(to bottom, #f4f7f8 0%,#e2e8ec 44%,#d6dde2 45%,#eef1f4 100%);
}

	#menu-items {
		height: 40px;
		list-style-type: none;
		padding-top: 10px;
		font-size: .7em;
		font-weight: bold;
		margin-left: 30px;
		}

		

	#menu-items li {
		display: inline;
		border-right: 1px solid #525256;
		padding: 0 12px;
		margin-top: 10px;
			}

		#menu-items li a{
			color: #67676C;
		}

		#menu-items li a:hover {
			color: #3E3E41;
		}

#content-wrapper{
	/*background-color: brown;*/
	background: linear-gradient(to right, black, #333, black);
	padding-left: 50px;
	padding-top: 20px;
	margin-left: -41px;
	margin-top: -20px;
	height: 600px;
}

#top-row {
	border: 1px solid black;
}

#welcome-container {
	display: inline-block;
	vertical-align: top;
	background: url(tweed_@2X.png);
	/*background-color: grey;*/
	width: 700px;
	border: 1px solid black;
	height: 263px;
}

	#welcome-container h3 {
		background-color: gold;
		font-weight: bold;
		font-size: .8em;
		padding: 5px 0;
		background: rgba(252,234,187,1);
		background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 1%, rgba(252,205,77,1) 52%, rgba(248,181,0,1) 98%, rgba(251,223,147,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,234,187,1)), color-stop(1%, rgba(252,205,77,1)), color-stop(52%, rgba(252,205,77,1)), color-stop(98%, rgba(248,181,0,1)), color-stop(100%, rgba(251,223,147,1)));
		background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 1%, rgba(252,205,77,1) 52%, rgba(248,181,0,1) 98%, rgba(251,223,147,1) 100%);
		background: -o-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 1%, rgba(252,205,77,1) 52%, rgba(248,181,0,1) 98%, rgba(251,223,147,1) 100%);
		background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 1%, rgba(252,205,77,1) 52%, rgba(248,181,0,1) 98%, rgba(251,223,147,1) 100%);
		background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 1%, rgba(252,205,77,1) 52%, rgba(248,181,0,1) 98%, rgba(251,223,147,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=0 );
			}

			#welcome{
				margin-left: 10px;
				
				color: white;
			}

				#welcome h2 {
					margin-top: 10px;
				}

				#welcome p {
					color: white;
					margin-top: 20px;
					font-size: 12px;
				}

	#middle-content img{
		height: 15px;
		width: 60px;
		background-color: white;
		margin-left: 10px;
	}

	#middle-content p{
		color: burlywood;
		display: inline-block;
		font-size: .7em;
		margin-bottom: 10px;
	}

/*bottom row*/

#bottom-row {
	height: 255px;
}

		.small-square {
			width: 260px;
			height: 245px;
			display: inline-block;
			vertical-align: top;
			border: 2px solid grey;
			background-color: white;
		}

			.small-square p {
				display: inline-block;
				font-size: 11px;
				margin: 0 5px;
			}

		.square-header {
			background-color: gold;
			font-size: .7em;
			padding: 8px 0 8px 5px;
			font-weight: bold;
			background: rgba(252,234,187,1);
			background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 1%, rgba(252,205,77,1) 52%, rgba(248,181,0,1) 98%, rgba(251,223,147,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,234,187,1)), color-stop(1%, rgba(252,205,77,1)), color-stop(52%, rgba(252,205,77,1)), color-stop(98%, rgba(248,181,0,1)), color-stop(100%, rgba(251,223,147,1)));
			background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 1%, rgba(252,205,77,1) 52%, rgba(248,181,0,1) 98%, rgba(251,223,147,1) 100%);
			background: -o-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 1%, rgba(252,205,77,1) 52%, rgba(248,181,0,1) 98%, rgba(251,223,147,1) 100%);
			background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 1%, rgba(252,205,77,1) 52%, rgba(248,181,0,1) 98%, rgba(251,223,147,1) 100%);
			background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 1%, rgba(252,205,77,1) 52%, rgba(248,181,0,1) 98%, rgba(251,223,147,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=0 );
					}

		.readmore {
			display: inline-block;
			margin-top: 20px;
			margin-left: 165px;
			border: 2px solid black;
			padding: 2px 16px 2px 4px;
			border-top-right-radius: 12px;
			border-bottom-right-radius: 12px;
			font-size: 12px;
			background: rgba(252,234,187,1);
			background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 1%, rgba(252,205,77,1) 52%, rgba(248,181,0,1) 98%, rgba(251,223,147,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,234,187,1)), color-stop(1%, rgba(252,205,77,1)), color-stop(52%, rgba(252,205,77,1)), color-stop(98%, rgba(248,181,0,1)), color-stop(100%, rgba(251,223,147,1)));
			background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 1%, rgba(252,205,77,1) 52%, rgba(248,181,0,1) 98%, rgba(251,223,147,1) 100%);
			background: -o-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 1%, rgba(252,205,77,1) 52%, rgba(248,181,0,1) 98%, rgba(251,223,147,1) 100%);
			background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 1%, rgba(252,205,77,1) 52%, rgba(248,181,0,1) 98%, rgba(251,223,147,1) 100%);
			background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 1%, rgba(252,205,77,1) 52%, rgba(248,181,0,1) 98%, rgba(251,223,147,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=0 );
					}

		.first {
			margin-top: 33px;
		}








